body {
    font-family: Tahoma;
    margin: 0 10%;
}

h1 {
    text-align: center;
}

h2 {
    padding-left: 20px;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
}

.colour-box {
    width: 100%;
    border: 2px solid grey;
}

ul.colour-list {
    padding-inline-start: 20px;
}

li.colours {
    display: inline-block;
    width: 24%;
    text-align: center;
    margin: auto 0;
}

#colour1 {
    background-color: #ac39ac;
}

#colour2 {
    background-color: #cc66cc;
}

#colour3 {
    background-color: #ffb3ff;
}

#colour4 {
    background-color: #262626;
}

.font-box {
    width: 100%;
    border: 2px solid grey;
    margin-top: 10px;
}

div.fonts {
    display: inline-block;
    margin: 0 30px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#font1 {
    font-family: "Kaushan Script";
}

#font2 {
    font-family: "Source Sans Pro";
}

#font3 {
    font-family: Abel;
}

.style-box {
    width: 100%;
    border: 2px solid grey;
    margin-top: 10px;
}

div.styles {
    margin: 0 30px;
}

#main {
    font-family: "Kaushan Script";
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

#subheading {
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 500;
}

#paragraph {
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 400;
}